<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desphixs - NodeJs Login and Register</title>


    <style>

    </style>
</head>

<body class="d-flex h-100 text-center text-white bg-white">
    <div class="onboard-container">
        <div class="loader">
            <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_lndg7fhf.json"
                background="transparent" speed="1" loop autoplay></lottie-player>
        </div>
        <div class="up">
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_kfzgxkvq.json" background="transparent"
                speed="1" loop autoplay></lottie-player>
        </div>
        <div class="confetti">
            <lottie-player class="success-anim" src="https://assets10.lottiefiles.com/packages/lf20_rovf9gzu.json"
                background="transparent" speed="1"></lottie-player>
        </div>
        <h1></h1>
        <p class="desc"></p>
        <a href="#" class="onboard"></a>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="index.js" type="module"></script>

</body>

</html>